@import '../../../common/styles/mixins';
@import '../../../common/styles/variables';

.table {
  margin: 10px 0;
  filter: drop-shadow(0px 4px 14px rgba(45, 46, 70, 0.15));

  .tableHeader {
    height: 3rem;
    display: grid;
    grid-template-columns: 15% 9% 25% 25% 20%;
    grid-template-rows: 1fr;
    column-gap: 10px;
    background-color: #c8c5d9;
    text-align: center;

    .tableItem {
      align-self: center;
      font-weight: 600;
      font-size: 1.1rem;
    }

    .tableItem:hover {
      color: #564b8e;
      cursor: pointer;
    }

    .tableItemActions {
      align-self: center;
      font-weight: 600;
      font-size: 1.1rem;
    }
  }

  .packRow {
    min-height: 48px;
    display: grid;
    grid-template-columns: 15% 9% 25% 25% 20%;
    grid-template-rows: 1fr;
    column-gap: 10px;

    &:nth-child(2n+1) {
      background-color: #F8F7FD;
    }

    a {
      text-decoration: none;
      color: #21268F;
    }

    .packRowItem {
      display: flex;
      align-self: center;
      justify-self: center;
      font-weight: 500;
      font-size: 0.8rem;
    }

    .packDeleteBtn {
      width: 48px;
      height: 24px;
      font-weight: 500;
      font-size: 0.8rem;
      line-height: 24px;
      background-color: red;
      color: white;
      border: 0;

      &:hover {
        opacity: 0.5;
      }
    }

    .packEditLearnBtn {
      width: 43px;
      height: 24px;
      margin: 3px;
      font-weight: 500;
      font-size: 0.8rem;
      line-height: 24px;
      display: inline-block;
      background-color: $backgroundColor;
      text-decoration: none;
      color: $lightTextColor;
      border: none;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
